<footer>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <h6>© Copyright All Response Media 2024. All rights reserved</h6>
            <ul class="nav mt-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">T&Cs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Privacy & Cookies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
              </ul>
          </div>
          <div class="col-md-2">
            <img class="footerImg" src="assets/ARM_logo_alpha.png" width="150"/>
          </div>
          <div class="col-md-2 offset-md-3">
           <h6>Reach out to us via :</h6>
           <span>T : +44 (0) 203 330 7000</span>
           <span>E : info&#64;allresponsemedia.com</span>
          </div>
        </div>
      </div>
</footer>