<aside class="navigation">
    <div class="logo"><img src="assets/armalytics_logo.png" alt="armalytics Logo"></div>
    <nav>
        <ul>
            <li><a href="#"><i class="fa-solid fa-house"></i> Dashboard</a></li>
            <li><a href="#"><i class="fa-solid fa-chart-pie"></i> Spotter <i class="fa-solid fa-angle-right dropMenuIcon"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-wave-square"></i> Pulse <i class="fa-solid fa-angle-right dropMenuIcon"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-chart-simple"></i> Raps <i class="fa-solid fa-angle-right dropMenuIcon"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-chart-gantt"></i> Enemy <i class="fa-solid fa-angle-right dropMenuIcon"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-border-all"></i> Digitall <i class="fa-solid fa-angle-right dropMenuIcon"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-hard-drive"></i> Armoury <i class="fa-solid fa-angle-right dropMenuIcon"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-users-rays"></i> SYS Admin <i class="fa-solid fa-angle-right dropMenuIcon"></i></a></li>
        </ul>
    </nav>
</aside>


<header class="header">
    <div class="top_head">
    <div class="menuIcon"><i class="fa-solid fa-bars"></i></div>
    <h4><i class="fa-solid fa-house"> </i>Dashboard</h4>
    <div class="search"><input type="text" placeholder="Search..."> <i class="fa-solid fa-magnifying-glass"></i></div>
    <div class="menuList">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active langIcon" aria-current="page" href="#"><img src="assets/language.png"><span>EN</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-circle-half-stroke" title="Dark Mode"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-expand" title="Full Screen"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-regular fa-circle-question" title="Submit Ticket"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-regular fa-clipboard" title="Release Notes"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-regular fa-lightbulb" title="Tips and Tricks"></i></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-arrow-right-from-bracket" title="Logout"></i></a>
            </li>
            <li class="nav-item userAccount">
                <i class="fa-regular fa-user" title="User Account"></i> <p><span>Vishal</span> Admin</p> <i class="fa-solid fa-chevron-down"></i>
            </li>
          </ul>
    </div>
</div>
</header>

<div class="float-none"></div>